@import "src/styles";

.container {

  opacity: 0;
  animation: smoothShow 1.3s .2s forwards 1;

  @media screen and (max-width: 900px) {
    font-size: 70%;
  }

  .header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .header__item-titles {
      display: flex;
      flex-direction: column;
      margin-left: 2rem;
      font-size: 170%;

      @media screen and (max-width: 900px) {
        font-size: 140%;
      }

      @media screen and (max-width: 700px) {
        font-size: 110%;
      }
    }

    .header__round-avatar {
      width: 200px;
      height: 200px;
      border: 2px solid $main-color;
      border-radius: 50%;
      transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;

      @media screen and (max-width: 900px) {
        width: 150px;
        height: 150px;
        margin-left: 2rem;
      }

      @media screen and (max-width: 1000px) {
        margin-left: 2rem;
      }

      @media screen and (max-width: 700px) {
        width: 100px;
        height: 100px;
      }

      &:hover {
        border: none;
        border-radius: 45%;
        transform: scale(1.05);
      }
    }
  }

  .container__bio-container {
    margin-top: 10%;
  }

}
