<div class="container" *ngIf="currentItem">
  <header class="header">

    <img
      src="https://mrsoft.by/tz20{{itemInf.pic}}"
      alt="Item avatar"
      class="header__round-avatar"
    >

    <div class="header__item-titles">
      <h1 class="item-name">{{currentItem.name}}</h1>
      <h3 class="item-short-info">{{currentItem.shortInfo}}</h3>
    </div>

  </header>

  <div class="container__bio-container">
    {{itemInf.bio}}
  </div>
</div>
