@import "src/styles";


.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  background: azure;

  .container__list-container {
    overflow-y: auto;
    overflow-x: hidden;
    width: 25%;

    .item-cards-container {
      margin: 0 .5rem;

      app-item-card {
        outline: none;
      }
    }

    .input-wrapper {
      width: 100%;
      background: azure;
      position: sticky;
      top: 0;
      z-index: 999999;
      padding: 1rem .8rem 1rem;
      box-shadow: 0px 0px 20px 12px azure;

      input[type=text] {
        padding: 12px 20px 12px 30px;
        width: 100%;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 20px;
        background-color: white;
        outline: none;
        transition: .2s;

        &:focus {
          border: 2px solid $main-color;
          padding: 12px 20px 12px 30px;

        }

        &:hover {
          border: 3px solid $main-color;
          padding: 11px 0px 11px 30px;
        }
      }

    }
  }

  .container__content-container {
    width: 75%;
    padding: 5%
  }
}

