<div class="container">
  <aside class="container__list-container">
    <div class="input-wrapper">
      <input
        type="text"
        name="filter"
        placeholder="Filter.."
        [(ngModel)]="searchText"
      >
    </div>
    <div class="item-cards-container">
      <app-item-card
        *ngFor="let item of items | filter: searchText"
        [item]="item"
        [routerLink]="item.id"
        routerLinkActive="active-route"
      ></app-item-card>
      <app-item-card
        *ngFor="let item of deletedItems | filter: searchText"
        [item]="item"
      ></app-item-card>
    </div>
  </aside>
  <div class="container__content-container">
    <router-outlet></router-outlet>
  </div>
</div>

