<div
  class="container"
  routerLinkActive="active-route"
  [ngClass]="{disabled:item.isDeleted}">

  <h4 class="container__item-name">
    {{item.name}}
  </h4>
  <p class="container__item-info">
    {{item.shortInfo}}
  </p>
  <p
    class="button delete-button"
    (click)="deleteItem(item)"
    *ngIf="!item.isDeleted">
    x
  </p>
  <p
    class="button restore-button"
    (click)="restoreItem(item)"
    *ngIf="item.isDeleted">
    r
  </p>
</div>
