@import "src/styles";

.container {
  margin: .4rem;
  padding: .3rem;
  border: .1rem solid $main-color;
  border-radius: .2rem;
  cursor: pointer;
  color: $main-color;
  position: relative;
  background: aliceblue;
  transition: 0.3s;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.34);

  @media screen and (max-width: 900px){
    font-size: 70%;
  }

  @media screen and (max-width: 700px){
    font-size: 50%;
  }

  &:hover {
    transform: scale(1.05);
    //border: .1rem solid $main-color;
    color: $main-color-hover;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  }

  &:active {
    transform: scale(1.02);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  }

  .container__item-name {
    margin: .2rem 0;
    letter-spacing: .1rem;
    text-transform: uppercase;
  }

  .container__item-info {
    margin: .2rem 0;
  }

  .button {
    position: absolute;
    top: 0;
    right: 8px;
    padding: .2rem;
    transition: .1s;

    &:hover {
      transform: scale(1.2);
      color: black;
    }
  }

  .delete-button {
    color: red;
  }

  .restore-button {
    color: $main-color
  }

}

.active-route {
  color: lightslategrey;
  background: rgba(255, 255, 0, 0.08);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  transform: scale(1.05);

  &:hover {
    transform: scale(1.07);
    border: .1rem solid $main-color;
    color: $main-color-hover;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  }
}

.disabled {
  border: .1rem solid lightslategrey;
  color: grey;
  background: lightgrey;

  &:hover {
    transform: scale(1);
    color: grey;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.34);
  }

  &:active {
    transform: scale(1);
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.34);
  }
}
