<div class="container">
    <img src="https://i.pinimg.com/originals/b1/b9/fd/b1b9fd1761be3c10a246701e9c59e748.png"
         alt="no selected item"
         class="container__no-selected-item-img"
    >
  <span>no selected cat...</span>
</div>
