.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: .3rem;
  font-size: 150%;

  opacity: 0;
  animation: smoothShow 1.3s .2s forwards 1;

  .container__no-selected-item-img {
    height: 50vh;
    width: auto;
  }
}
