/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@500&display=swap');

$main-color: #12a6e8;
$main-color-hover: #0278d2;

* {
  margin: 0;
  padding: 0
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 130%;


  &::selection {
    background-color: yellow;
  }
}



html, body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'Baloo Paaji 2', cursive;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: .3rem;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px transparent;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgb(170, 184, 184);
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #8b8b8b;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #414141;
}

//animations
@keyframes smoothShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
